<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>db.driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/gundam</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>controller.ProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogout</servlet-name>
        <servlet-class>controller.ProcessLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessViewProfile</servlet-name>
        <servlet-class>controller.ProcessViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToEditProfile</servlet-name>
        <servlet-class>controller.ProcessToEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSaveProfile</servlet-name>
        <servlet-class>controller.ProcessSaveProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToEditPassword</servlet-name>
        <servlet-class>controller.ProcessToEditPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSavePassword</servlet-name>
        <servlet-class>controller.ProcessSavePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessViewMyMission</servlet-name>
        <servlet-class>controller.ProcessViewMyMission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToViewMissionDetail</servlet-name>
        <servlet-class>controller.ProcessToViewMissionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToChangeWeapon</servlet-name>
        <servlet-class>controller.ProcessToChangeWeapon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessChangeWeapon</servlet-name>
        <servlet-class>controller.ProcessChangeWeapon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToIndex</servlet-name>
        <servlet-class>controller.ProcessToIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToDashboard</servlet-name>
        <servlet-class>controller.ProcessToDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToPillotManager</servlet-name>
        <servlet-class>controller.ProcessToPillotManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAdminViewUserDetail</servlet-name>
        <servlet-class>controller.ProcessToAdminViewUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessResetPassword</servlet-name>
        <servlet-class>controller.ProcessResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessBlockPillot</servlet-name>
        <servlet-class>controller.ProcessBlockPillot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUnblockPillot</servlet-name>
        <servlet-class>controller.ProcessUnblockPillot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAddPillot</servlet-name>
        <servlet-class>controller.ProcessToAddPillot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessChooseRobotForPillot</servlet-name>
        <servlet-class>controller.ProcessChooseRobotForPillot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddNewPillot</servlet-name>
        <servlet-class>controller.ProcessAddNewPillot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSearchName</servlet-name>
        <servlet-class>controller.ProcessSearchName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToRobotManager</servlet-name>
        <servlet-class>controller.ProcessToRobotManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAdminViewRobotDetail</servlet-name>
        <servlet-class>controller.ProcessToAdminViewRobotDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToEditRobot</servlet-name>
        <servlet-class>controller.ProcessToEditRobot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAddRobot</servlet-name>
        <servlet-class>controller.ProcessToAddRobot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddNewRobot</servlet-name>
        <servlet-class>controller.ProcessAddNewRobot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToWeaponManager</servlet-name>
        <servlet-class>controller.ProcessToWeaponManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessDeleteWeapon</servlet-name>
        <servlet-class>controller.ProcessDeleteWeapon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAddWeapon</servlet-name>
        <servlet-class>controller.ProcessToAddWeapon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddNewWeapon</servlet-name>
        <servlet-class>controller.ProcessAddNewWeapon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToMissionManager</servlet-name>
        <servlet-class>controller.ProcessToMissionManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAdminViewMissionDetail</servlet-name>
        <servlet-class>controller.ProcessToAdminViewMissionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAdminEditMissionDetail</servlet-name>
        <servlet-class>controller.ProcessToAdminEditMissionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAdminEditMissionDetail</servlet-name>
        <servlet-class>controller.ProcessAdminEditMissionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessToAddMission</servlet-name>
        <servlet-class>controller.ProcessToAddMission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddNewMission</servlet-name>
        <servlet-class>controller.ProcessAddNewMission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogout</servlet-name>
        <url-pattern>/ProcessLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessViewProfile</servlet-name>
        <url-pattern>/ProcessViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToEditProfile</servlet-name>
        <url-pattern>/ProcessToEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSaveProfile</servlet-name>
        <url-pattern>/ProcessSaveProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToEditPassword</servlet-name>
        <url-pattern>/ProcessToEditPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSavePassword</servlet-name>
        <url-pattern>/ProcessSavePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessViewMyMission</servlet-name>
        <url-pattern>/ProcessViewMyMission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToViewMissionDetail</servlet-name>
        <url-pattern>/ProcessToViewMissionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToChangeWeapon</servlet-name>
        <url-pattern>/ProcessToChangeWeapon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessChangeWeapon</servlet-name>
        <url-pattern>/ProcessChangeWeapon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToIndex</servlet-name>
        <url-pattern>/ProcessToIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToDashboard</servlet-name>
        <url-pattern>/ProcessToDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToPillotManager</servlet-name>
        <url-pattern>/ProcessToPillotManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAdminViewUserDetail</servlet-name>
        <url-pattern>/ProcessToAdminViewUserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessResetPassword</servlet-name>
        <url-pattern>/ProcessResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBlockPillot</servlet-name>
        <url-pattern>/ProcessBlockPillot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUnblockPillot</servlet-name>
        <url-pattern>/ProcessUnblockPillot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAddPillot</servlet-name>
        <url-pattern>/ProcessToAddPillot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessChooseRobotForPillot</servlet-name>
        <url-pattern>/ProcessChooseRobotForPillot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddNewPillot</servlet-name>
        <url-pattern>/ProcessAddNewPillot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSearchName</servlet-name>
        <url-pattern>/ProcessSearchName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToRobotManager</servlet-name>
        <url-pattern>/ProcessToRobotManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAdminViewRobotDetail</servlet-name>
        <url-pattern>/ProcessToAdminViewRobotDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToEditRobot</servlet-name>
        <url-pattern>/ProcessToEditRobot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAddRobot</servlet-name>
        <url-pattern>/ProcessToAddRobot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddNewRobot</servlet-name>
        <url-pattern>/ProcessAddNewRobot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToWeaponManager</servlet-name>
        <url-pattern>/ProcessToWeaponManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessDeleteWeapon</servlet-name>
        <url-pattern>/ProcessDeleteWeapon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAddWeapon</servlet-name>
        <url-pattern>/ProcessToAddWeapon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddNewWeapon</servlet-name>
        <url-pattern>/ProcessAddNewWeapon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToMissionManager</servlet-name>
        <url-pattern>/ProcessToMissionManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAdminViewMissionDetail</servlet-name>
        <url-pattern>/ProcessToAdminViewMissionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAdminEditMissionDetail</servlet-name>
        <url-pattern>/ProcessToAdminEditMissionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAdminEditMissionDetail</servlet-name>
        <url-pattern>/ProcessAdminEditMissionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessToAddMission</servlet-name>
        <url-pattern>/ProcessToAddMission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddNewMission</servlet-name>
        <url-pattern>/ProcessAddNewMission</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>page-login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
